* {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffe6cc;
}

body {
    max-width: 700px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 20px;
    line-height: 1.5;
}

.profile {
    width: 150px;
}

header {
    background color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}



.ul-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffe6cc;
}



li a {
    float: left;
        display: block;
        color: #111;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #33FFFF;
        }

.ul-bullets {
    max-width: 500px;
    list-style-type: circle;
    margin: 0;
    background-color: white;
    padding: 0;
    margin: 0;
}